ul {
  list-style-type: none;
  margin: 1.5 em;
  padding: 1.5em;
  overflow: hidden;
  background-color: #a2836e;
  margin: 1.5em;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff2df;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-weight: 400;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #555;
}
body {
  background-color: #fff2df;
  font-family: Arial, Helvetica, sans-serif;
}

/* Trying to put sidbar and an image  to flexbox */
.flex {
  display: flex;
  background-color: #fff2df;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 1vw;
  padding: 2vw;
  font-size: 1.5rem;
}

/* This is horizantal panel using flexbox. */

.flex-container {
  display: flex;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 1vw;
  padding: 1.5vw;
  font-size: 1.2rem;
  background-color: #a2836e;
  color: #fff2df;
}

.Ingredients {
  background-color: #a2836e;
  padding: 1.5%;
  margin-top: 5vh;
}

.Instructions {
  background-color: #a2836e;
  padding: 1.5%;
}

.brownieImage {
  border-width: 1 rem;
  border-color: #a2836e;
  border-style: solid;
  margin: 2vw;
}
footer {
  background-color: #d9ad7c;
  padding: 1.5vw;
  margin: 1 vw;
}

.headers {
  margin-left: 1vw;
}

.sidebar {
  margin: 0;
  padding: 1.1;
  width: 20vw;

  background-color: #a2836e;
  position: relative;
  overflow: auto;
  float: right;
  /* display: flex; */
  display: block;
  margin-right: 15%;
  margin-top: 2.5%;

  border-width: 0.3rem;
  border-color: #a2836e;
  border-style: solid;
}
.sidebar > a {
  color: #fff2df;
  padding: 16px;
  text-decoration: none;
  display: block;
  margin: 5%;
  font-weight: 400;
}

/* Active/current link */
.sidebar a.active {
  background-color: #d9ad7c;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

*/
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    font-size: 1.5 rem;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 0.5 rem;
  }
}
